@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html,
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  background: #1d2528;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: cadetblue;
  padding-bottom: 40px;
}

.title {
  padding: 50px 25px 10px 25px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
  color: #222;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #222;
  margin: 0;
}

picture,
img {
  width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border: none;
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.11);
  background: #f4f4f4;
}

@media (min-width: 960px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0;
  }
  .title {
    padding: 80px 25px 80px 25px;
    text-align: right;
  }
  picture,
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0;
    background: #f4f4f4;
  }
}
